<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <div class="content">

        <div class="pre-contenu" id="actualites">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-10 col-lg-10 m-auto">
                        <div class="module pruneau-show">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2>Retrouvez-nous au Pruneau Show d'Agen</h2>
                                    <em>Le <strong>30, 31 aout et 1<sup>er</sup> septembre</strong> -
                                        15<sup>ème</sup>
                                        édition</em>
                                    <p>Nous serons présents les 3 jours</p>
                                    <p class="mt-4">Découvrez quelques sections que le Judo Club Agenais vous offre :
                                    </p>
                                    <ul>
                                        <li>Atelier Judo</li>
                                        <li>Atelier Jiu-Jitsu Brésilien (JJB)</li>
                                        <li>Atelier Arts Martiaux Mixtes (MMA)</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center flex-column">
                                    <div class="readmore text-center mt-2">
                                        <a href="http://grandpruneaushow.fr" class="btn btn-primary" target="_blank">
                                            Découvrir le site du Pruneau Show d'Agen
                                            <i class="fa fa-external-link"></i></a>
                                    </div>

                                    <div class="readmore text-center mt-2">
                                        <a href="http://www.grandpruneaushow.fr/pratique.html" class="btn btn-primary">
                                            Voir le plan du Pruneau Show d'Agen
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </div>

                                    <div class="carte text-center mt-2">
                                        <a
                                            href="https://www.google.com/maps/dir//44.2033671,0.6118219/@44.2034364,0.6108768,17z">
                                            <img src="./assets/images/carte-sport-pruneau-show.jpg"
                                                alt="voir la carte du plan sportif" class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="module rentree">
                        <h2>rentrée</h2>
                        <ul>
                            <li>
                                <span class="label">baby judo (3ans)</span>
                                :
                                <span class="value">le 3 septembre à 10h00</span>
                            </li>
                            <li>
                                <span class="label">judo poussins (4-10 ans)</span>
                                :
                                <span class="value">le 5 septembre à 18h00</span>
                            </li>
                            <li>
                                <span class="label">judo benjamins & minimes (11-14 ans)</span>
                                :
                                <span class="value">le 6 septembre à 18h00</span>
                            </li>
                            <li>
                                <span class="label">judo cadets & juniors (15-20 ans)</span>
                                :
                                <span class="value">le 7 septembre à 19h00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="module tarifs">
                        <h2>tarifs</h2>
                        <ul>
                            <li>
                                <span class="label">baby judo (3ans)</span>
                                :
                                <span class="value">50€ / an</span>
                            </li>
                            <li>
                                <span class="label">judo poussins, benjamins & minimes</span>
                                :
                                <span class="value">150€ / an</span>
                            </li>
                            <li>
                                <span class="label">judo cadets & juniors</span>
                                :
                                <span class="value">170 € / an</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="module planning d-none" id="planning">
                            <h2>planning</h2>

                            <!-- <div class="image">
                            <img src="https://via.placeholder.com/1080x520" alt="" srcset="">
                        </div> -->
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>heure</th>
                                            <th>lundi</th>
                                            <th>mardi</th>
                                            <th>mercredi</th>
                                            <th>jeudi</th>
                                            <th>vendredi</th>
                                            <th>samedi</th>
                                            <th>dimanche</th>
                                        </tr>
                                        <tr>
                                            <td>16h00</td>
                                            <td class="lundi"></td>
                                            <td class="mardi"></td>
                                            <td class="mercredi">judo</td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi"></td>
                                            <td class="samedi"></td>
                                            <td class="dimanche"></td>
                                        </tr>
                                        <tr>
                                            <td>16h30</td>
                                        </tr>
                                        <tr>
                                            <td>17h00</td>
                                        </tr>
                                        <tr>
                                            <td>17h30</td>
                                        </tr>
                                        <tr>
                                            <td>18h00</td>
                                        </tr>
                                        <tr>
                                            <td>18h30</td>
                                        </tr>
                                        <tr>
                                            <td>19h00</td>
                                        </tr>
                                        <tr>
                                            <td>19h30</td>
                                        </tr>
                                        <tr>
                                            <td>20h00</td>
                                        </tr>
                                        <tr>
                                            <td>20h30</td>
                                        </tr>
                                        <tr>
                                            <td>21h00</td>
                                        </tr>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="readmore text-center mt-2">
                                <a href="./data/judoclubagenais-planning-2019-2020.pdf" class="btn btn-primary">
                                    télécharger le programme (PDF, 230ko)</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-contenu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-auto">
                        <div class="contact" id="contact">
                            <h2>contact</h2>
                            <div class="card">
                                <div class="card-body">
                                    <div class="name card-title">Judo Club Agenais</div>
                                </div>
                                <div class="list-group list-group-flush">
                                    <div class="adress list-group-item">
                                        <div class="libelle">
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            DOJO d'Agen, stadium municipal
                                        </div>
                                        <div class="rue">
                                            17, cours washington</div>
                                        <div class="cp_town">
                                            <span class="cp">47 300</span>
                                            <span class="town">Agen</span>
                                        </div>
                                    </div>
                                    <div class="mail list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        <a href="mailto:contact@judoclubagenais.fr">contact@judoclubagenais.fr</a>
                                    </div>
                                    <div class="tel list-group-item"><i class="fa fa-phone" aria-hidden="true"></i>
                                        <a href="tel:+330680469161">06 80 46 91 61</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 m-auto text-center">
                        <div class="carte" id="plan-lieu">
                            <a href="https://www.openstreetmap.org/note/1859910">
                                <img src="/assets/images/carte-stadium-agen.jpg" width="350" alt="carte">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- include footer.html -%}

</body>

</html>