<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <div class="content">

        <div class="pre-contenu" id="actualites">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-10 col-lg-10 m-auto">
                        <div class="row">
                            <div class="module edito p-4">
                                <h2>Édito</h2>
                                <p><strong>Team JJB Agen</strong> est un club de jiu jitsu brésilien affilié à la <a href="http://www.cfjjb.com/" target="_blank">CFJJB <i class="fa fa-external-link"></i></a>, né en 2016 suite à la volonté de quelques passionés&hellip;qui n'ayant pas de club, aux alentours d'Agen, ont décidé de s'organiser pour pratiquer leur passion et la faire partager.</p>
                                <p>Avec l'appui de <a href="http://acemat.weebly.com/" target="_blank">ACEMAT <i class="fa fa-external-link"></i></a> et sa figure emblématique Laurence Fouillat ceinture noire et Championne du monde IBJJF, le club d'Agen s'est développé et accueille toute personne qui souhaite venir pratiquer ou s'essayer au JJB dans le respect mutuel.</p>
                                <p>Aujourd'hui Team JJB Agen est officiellement une antenne de ACEMAT et devient TEAM JJB AGEN ACEMAT&hellip;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 m-auto">
                        <div class="module planning" id="planning">
                            <h2>planning</h2>

                            <!-- <div class="image">
                                <img src="https://via.placeholder.com/1080x520" alt="" srcset="">
                            </div> -->
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th></th>
                                            <th>lundi</th>
                                            <th>mardi</th>
                                            <th>mercredi</th>
                                            <th>jeudi</th>
                                            <th>vendredi</th>
                                        </tr>
                                        <tr>
                                            <td>17h00</td>
                                            <td class="lundi"></td>
                                            <td class="mardi"></td>
                                            <td class="mercredi"></td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse </td>
                                        </tr>
                                        <tr>
                                            <td>18h00</td>
                                            <td class="lundi"></td>
                                            <td class="mardi">grappling confirmés & compétiteurs</td>
                                            <td class="mercredi"></td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>18h30</td>
                                            <td class="lundi"></td>
                                            <td class="mardi">grappling confirmés & compétiteurs</td>
                                            <td class="mercredi"></td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>19h00</td>
                                            <td class="lundi"></td>
                                            <td class="mardi">grappling tout public</td>
                                            <td class="mercredi"></td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>19h15</td>
                                            <td class="lundi"></td>
                                            <td class="mardi">grappling tout public</td>
                                            <td class="mercredi"></td>
                                            <td class="jeudi">jiu-jitsu brésilien Gi et No Gi</td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>19h30</td>
                                            <td class="lundi">cross training</td>
                                            <td class="mardi">grappling tout public</td>
                                            <td class="mercredi">jiu-jitsu brésilien</td>
                                            <td class="jeudi">jiu-jitsu brésilien Gi et No Gi</td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>20h00</td>
                                            <td class="lundi">cross training</td>
                                            <td class="mardi">grappling tout public</td>
                                            <td class="mercredi">jiu-jitsu brésilien</td>
                                            <td class="jeudi">jiu-jitsu brésilien Gi et No Gi</td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>20h30</td>
                                            <td class="lundi">cross training</td>
                                            <td class="mardi">grappling tout public</td>
                                            <td class="mercredi">jiu-jitsu brésilien</td>
                                            <td class="jeudi">jiu-jitsu brésilien Gi et No Gi</td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>20h45</td>
                                            <td class="lundi"></td>
                                            <td class="mardi"></td>
                                            <td class="mercredi">jiu-jitsu brésilien</td>
                                            <td class="jeudi">jiu-jitsu brésilien Gi et No Gi</td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>21h00</td>
                                            <td class="lundi"></td>
                                            <td class="mardi"></td>
                                            <td class="mercredi">jiu-jitsu brésilien</td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>
                                        <tr>
                                            <td>22h00</td>
                                            <td class="lundi"></td>
                                            <td class="mardi"></td>
                                            <td class="mercredi">jiu-jitsu brésilien</td>
                                            <td class="jeudi"></td>
                                            <td class="vendredi">jiu-jitsu brésilient chez ACEMAT Toulouse</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 m-auto">
                        <div class="module tarifs" id="tarifs">
                            <h2>tarifs</h2>
                            <ul>
                                <li>
                                    <span class="label">cotisation</span>
                                    :
                                    <span class="value">150€ / an</span>
                                </li>
                                <li>
                                    <span class="label">+ licence</span>
                                    :
                                    <span class="value">30€ / an</span>
                                </li>
                                <li>
                                    <span class="label">= total</span>
                                    :
                                    <span class="value">180 € / an</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-contenu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-auto">
                        <div class="contact" id="contact">
                            <h2>contact</h2>
                            <div class="card">
                                <div class="card-body">
                                    <div class="name card-title">Team Jiu Jitsu Agen</div>
                                </div>
                                <div class="list-group list-group-flush">
                                    <div class="adress list-group-item">
                                        <div class="libelle">
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            DOJO d'Agen, stadium municipal
                                        </div>
                                        <div class="rue">
                                            17, cours washington</div>
                                        <div class="cp_town">
                                            <span class="cp">47 300</span>
                                            <span class="town">Agen</span>
                                        </div>
                                    </div>
                                    <div class="mail list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        <a href="mailto:teamjjbagen@gmail.com">teamjjbagen@gmail.com</a>
                                    </div>
                                    <div class="tel list-group-item"><i class="fa fa-phone" aria-hidden="true"></i>
                                        <a href="tel:+330688719417">06 88 71 94 17</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center m-auto">
                        <div class="carte" id="plan-lieu">
                            <a href="https://www.openstreetmap.org/note/1859910">
                                <img src="/assets/images/carte-stadium-agen.jpg" width="350" alt="carte">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- include footer.html -%}

</body>

</html>